@media screen and (max-width: 40em) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: univers, Arial, sans-serif;
  }
  body {
    width: 100%;
    margin: 0;
  }
  header {
    height: 7vh;
    position: static;
    margin: 0;
  }
  .nameTholen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background: linear-gradient(45deg, red, black);
    background: rotate(45deg);
  }
  .nameTholen h2 {
    font-size: 2.5vmax;
  }
  .spacing {
    font-weight: 1000;
  }
  .textBold {
    color: darkred;
  }
  nav {
    width: 100%;
    height: 50%;
    border-bottom: 3px solid red;
    background: white;
    display: none;
  }
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }
  ul li {
    border-top: 1px solid black;
    padding-top: 0.5vw;
    position: relative;
    display: inline-block;
  }
  .linkText {
    position: relative;
    z-index: 3;
  }
  ul li a:link, ul li a:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1vmax;
  }
  ul li a:hover {
    color: red;
  }
  ul li::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    height: calc(100% + 1px);
    width: 100%; background: white;
    transition: 0.3s;
  }
  ul li:hover::before {
    width: 0;
    left: 50%;
  }
  figure {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2vmax;
  }
  figcaption {
    font-size: 0.8vmax;
    color: gray;
    margin: 0;
  }
  .querBild {
    width: 100%;
    height: auto;
  }
  .abstandBot {
    margin-bottom: 15vmax;
  }
  #tanjaAbstand {
    margin-bottom: 15vmax;
  }
  .wrapper {
    width: 100%;
    margin: 0;
    margin-bottom: 10vmax;
  }
  .wrapper p {
    font: 1.5vmax/1.3 Univers, Arial, sans-serif;
    margin: 0;
    margin-bottom: 2vmax;
  }
  .wrapper h3 {
    margin-bottom: 1vmax;
    text-align: center;
    font-size: 1.5vmax;
  }
  .wrapper hr {
    width: 30%;
    margin-bottom: 4vmax;
    border: 1px solid red;
  }
  .kontakte {
    position: fixed;
    right: 7vw;
    bottom: 20vh;
    border-left: 2px solid red;
    display: flex;
    justify-content: flex-end;
    display: none;
  }
  .doubleRand {
    height: 100%;
    width: 99%;
    border-left: 2px dotted red;
    align-items: center;
    padding-left: 1vmax;
    font-size: clamp(0.3em, 1vmax, 1.5em);
    display: none;
  }
  .doubleRand h4 {
    margin-bottom: 1vmax
    font-size: 1vmax;
  }
  .socialM {
    width: clamp(30px, 3vw, 70px);
  }
  .bildMitText {
    width: 100%;
    display: flex;
  }
  .bildHalter {
    width: 40%;
    height: auto;
  }
  .bildHalter img {
    width: 100%;
    height: auto;
  }
  .texthalter {
    flex: 1;
    padding-left: 2vmax;
    display: flex;
    flex-direction: column;
  }
  .texthalter h2 {
    margin-top: auto;
    font-size: clamp(1vmax, 2.5vmax, 3vmax);
    margin-bottom: 1vmax;
  }
  .texthalter p {
    margin-bottom: auto;
    font-size: max(1.3vmax);
  }
  .team {
    display: flex;
    height: 25vh;
    margin: 2vmax 0 2vmax 0;
  }
  .profilbildContainer {
    width: 30%;
    height: auto;
  }
  .teamText {
    display: flex;
  }
  .teamText h2 {
    font-size: clamp(1.5vmax, 2vmax, 2.5vmax);
    margin-top: auto;
  }
  .teamText p {
    margin-bottom: auto;
  }
  .teambild {
    width: 100%;
    height: auto;
  }
  .bildRechts {
    flex-direction: row-reverse;
  }
  .oeZeiten {
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
  }
  .mo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
    border-right: 1px solid red;
  }
  .di {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: left;
    border-right: 1px solid red;
  }
  .mi {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: left;
    border-right: 1px solid red;
  }
  .do {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    text-align: left;
    border-right: 1px solid red;
  }
  .fr {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    text-align: left;
    border-right: 1px solid red;
  }
  .sa {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    text-align: left;
    border-right: 1px solid red;
  }
  .moZ {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
  }
  .diZ {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
  }
  .miZ {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
  }
  .doZ {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    text-align: center;
  }
  .frZ {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    text-align: center;
  }
  .saZ {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    text-align: center;
  }
  .mobileIcons {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    z-index: 3;
    background: linear-gradient(45deg, black, red);
    border-top: 1px solid black;
    padding-top: 5px;
  }
  .mobileIcons a img {
    width: 17vw;
    height: auto;
  }
  .mobileNav {
    display: flex;
    position: fixed;
    top: 0;
    left: -60%;
    width: 60vw;
    height: 100vh;
    background: linear-gradient(45deg, rgba(150,0,0,0.8) 10%, rgba(0,0,0,0.8));
    transition: 0.4s ease;
  }
  .mobileNav ul {
    margin: 0 auto;
    display: inline;
    width: 80%;
    align-items: normal;
    justify-content: normal;
    padding-top: 5vmax;
  }
  .mobileNav ul li {
    display: block;
    border: none;
    text-align: center;
    margin: 4vmax 0;
    border-top: 2px solid white;
    padding-top: 4vmax;
  }
  #letzteListeMob {
    border-bottom: 2px solid white;
    padding-bottom: 4vmax;
  }
  .mobileNav ul li::before {
    display: none;
  }
  .mobileNav ul li a:link, .mobileNav ul li a:visited {
    color: white;
    font-size: 2vmax;
  }
  .slide {
    left: 0;
  }

  .mobileMenue {
    display: block;
    width: 10vw;
    height: 10vw;
    position: fixed;
    top: 7vh;
    left: 0;
    transition: 0.4s ease;
  }
  .kasten {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.8), rgba(150,0,0,0.8));
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
  }
  #newsha {
    display: none;
  }
  #linkMobileNav {
    color: white;
    text-align: center;
  }
  #linkMobileNav:link, #linkMobileNav:visited {
    text-decoration: none;
    color: white;
  }
  .slideMenue {
    left: 60vw;
  }
  .kasten img {
    position: absolute;
    top: 0;
    left: 1px;
    transition: 0.4s ease;
  }
  .pfeilDreher {
    transform: rotate(180deg);
  }
  .buttons {
    width: 15%;
    opacity: 0.2
  }
  #eldin {
    position: fixed;
    top: 8%;
    bottom: 89%;
    right: 7vw;
    font-size: 1vmax;
    color: black;
    border: 1px solid black;
    padding: 0.3vmax 0.5vmax;
    border-radius: 4px;
    overflow: hidden;
  }
  #eldin::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background: linear-gradient(90deg, rgba(0,0,0,0), rgba(180,180,180, 0.5));
    border-radius: 4px;
    animation-name: clickme;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  #eldin:link, #eldin:visited {
    text-decoration: none;
  }
  #bild {
    width: 80%;
    height: auto;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
